<div class="row">
  <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 my-comments">
    <h2>Hozzászólások</h2>
    <button type="button" *ngIf="!isVisible" (click)="toggleVisible()">Megnézem</button>
    <button type="button" *ngIf="isVisible" (click)="toggleVisible()">Becsukom</button>
    <ul *ngIf="isVisible">
      <li *ngFor="let comment of comments">
        <app-profile-comment-item [comment]="comment" (commentDeleted)="refreshComments($event)"></app-profile-comment-item>
      </li>
    </ul>
  </div>
</div>
