<app-navbar></app-navbar>
<div class="container-fluid admin-container">
  <div class="row">
    <div *ngIf="!showError" class="col-6 offset-3 members-container">
      <h1>Felhasználók</h1>
      <div *ngFor="let member of members" class="memberDiv">
        <h3>{{ member.username }}</h3>
        <p><span>Email: </span>{{ member.email }}</p>
        <p><span>Registered: </span> {{ member.registration | date: 'yyyy. MM. dd.' }}</p>
        <p><span>Score: </span>{{ member.score }}</p>
        <div class="modification">
          <fa-icon [icon]="faTrash" class="fas"></fa-icon>
          <fa-icon [icon]="faEdit" class="fas"></fa-icon>
        </div>
      </div>
    </div>
    <div *ngIf="showError" class="col-6">
      {{ errorMessage }}
    </div>
  </div>
</div>
