<app-navbar></app-navbar>
<div class="container-fluid admin-container">
  <div class="row">
    <div *ngIf="!showError" class="col-12 col-sm-8 offset-sm-2 members-container">
      <h1>Felhasználók</h1>
      <div *ngFor="let member of members" class="memberDiv">
        <h3>{{ member.username }}</h3>
        <p><span>Email: </span>{{ member.email }}</p>
        <p><span>Regisztráció: </span> {{ member.registration | date: 'yyyy. MM. dd.' }}</p>
        <p><span>Pontszám: </span>{{ member.score }}</p>
        <div class="modification">
          <fa-icon [icon]="faTrash" class="fas" (click)="deleteMember(member.id)"></fa-icon>
          <a [routerLink]="['/admin/edit', member.id]" [state]="member">
            <fa-icon [icon]="faEdit" class="fas"></fa-icon>
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="showError" class="col-6">
      {{ errorMessage }}
    </div>
  </div>
</div>
