.my-comments {
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: #333333;
    padding: 20px 40px;
    color: #00b300;
}

h2 {
    text-align: center;
    margin: 40px 0;
    font-size: 35px;
}

button {
    display: block;
    margin: 10px auto;
}


li {
    list-style-type: none;
    padding: 10px;
}

li a {
    color: #00b300;
    text-decoration: none;
}

.empty-list {
    text-align: center;
    padding: 30px 10px;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    ul {
        margin: 0;
        padding: 0;
    }

    p {
        margin: 10px 0;
    }

}



