<div class="row">
  <div *ngIf="errorMessage === ''"
    class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 my-puzzles">
    <h2>Saját rejtvények</h2>
    <button type="button" *ngIf="!isVisible" (click)="toggleVisible()">Megnézem</button>
    <button type="button" *ngIf="isVisible" (click)="toggleVisible()">Becsukom</button>
    <ul *ngIf="isVisible">
      <li *ngFor="let puzzle of puzzles">
        <a routerLink="/puzzles/{{ puzzle.id }}">
          <div class="puzzle-div">
            <h3>{{ puzzle.title }}
              <span> - {{ puzzleService.translateCategory(puzzle.category) }} |
                {{ puzzleService.translateLevel(puzzle.level) }}</span>
            </h3>
            <p>Dátum: <span>{{ puzzle.submissionTime | date: 'yyyy. MM. dd.' }}</span></p>
            <p class="rating"> Értékelés:
              <app-stars [puzzle]="puzzle"></app-stars>
            </p>
            <div class="category-pic">
              <fa-icon [icon]="faQuestion" class="fas" *ngIf="puzzle.category.toString() === 'RIDDLE'"></fa-icon>
              <fa-icon [icon]="faSquareRootAlt" class="fas" *ngIf="puzzle.category.toString() === 'MATH_PUZZLE'"></fa-icon>
              <fa-icon [icon]="faDice" class="fas" *ngIf="puzzle.category.toString() === 'PICTURE_PUZZLE'"></fa-icon>
              <fa-icon [icon]="faFont" class="fas" *ngIf="puzzle.category.toString() === 'WORD_PUZZLE'"></fa-icon>
              <fa-icon [icon]="faPenFancy" class="fas" *ngIf="puzzle.category.toString() === 'CIPHER'"></fa-icon>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
