<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <label for="message">Szólj hozzá!</label>
  <textarea name="message" id="message" ngModel required></textarea>
  <div id="agreement">
    <label for="agreement">
      <input type="checkbox" name="agreement" ngModel required> A hozzászólás nem tartalmazza a rejtvény megoldását vagy a helyes megoldásra történő
      bármilyen utalást, sem semmilyen sértő megjegyzést.</label>
  </div>
  <button type="submit" [disabled]="(f.invalid || !f.value.agreement)">Hozzászólás küldése</button>
</form>

