<div class="sort">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <label for="sort">Sorba rendezés: </label>
    <select name="sort" id="sort" ngModel>
      <option value="titleASC">Cím szerint &#8593;</option>
      <option value="titleDESC">Cím szerint &#8595;</option>
      <option value="levelASC">Nehézség szerint &#8593;</option>
      <option value="levelDESC">Nehézség szerint &#8595;</option>
      <option value="ratingASC">Értékelés szerint &#8593;</option>
      <option value="ratingDESC">Értékelés szerint &#8595;</option>
    </select>
    <button type="submit" id="sort-button">Rendezés</button>
  </form>
</div>
