#error-message {
  margin: 100px auto 0;
  width: 300px;
  padding: 20px;
  background-color: #f0fff0;
  border: 1px solid #b22222;
  border-radius: 10px;
  text-align: center;
}

.exclamation {
  color: #b22222;
  font-size: 40px;
}

h3, p {
  text-align: center;
  color: #b22222;
  font-weight: bold;
}

@media screen and (min-width: 1000px){
  #error-message {
    width: 500px;
  }

  p {
    font-size: 18px;
  }
}
