a {
    text-decoration: none;
}

.modification {
    display: flex;
    width: 120px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: center;
}

.fas {
    font-size: 30px;
    color: #00b300;
    vertical-align: middle;
    transition: color 1s;
}

.fas:hover {
    cursor: pointer;
    color: #f0fff0;
}

.modification fa-icon {
    margin-right: 10px;
}

.simple-comment {
    width: 80%;
    margin: 10px auto;
    background-color: #444444;
    border: 2px solid #00b300;
    border-radius: 10px;
    padding: 10px;
    font-size: 17px;
    position: relative;
}

.simple-comment p span {
    color: #00b300;
}

.simple-comment p span:last-child {
    color: #f0fff0;
}

.simple-comment p span:nth-child(2) {
    float: right;
}

.simple-comment .modification {
    align-items: flex-end;
    justify-content: flex-end;
}

.simple-comment p > span.inEditMode {
    color: firebrick;
    background-color: #f0fff0;
}

@media only screen and (max-width: 600px) {
    p {
        margin: 10px 0;
    }

    .modification {
        width: 80px;
        height: 50px;
        margin: 0 auto;
        position: static;
    }

    .modification fa-icon {
        margin-right: 20px;
    }

}
