#puzzle-spinner {
  margin-top: 100px;
}

.puzzle-container {
  margin-top: 100px;
  border-radius: 10px;
  background-color: #333333;
  padding: 20px;
}

.puzzle-container h1 {
  color: #00b300;
  padding: 10px 0 30px;
  text-align: center;
}

.puzzle-container ul {
  margin: 0;
  padding: 0;
}

.puzzle-container ul li {
  list-style-type: none;
}
