<app-navbar></app-navbar>
<div class="container-fluid admin-container">
    <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 puzzles-container">
            <h1>Rejtvények</h1>
            <app-puzzle-sort [category]=null
                             (puzzlesSorted)="onPuzzlesSorted($event)">
            </app-puzzle-sort>
            <div *ngFor="let puzzle of puzzles" class="puzzleDiv">
                <app-puzzle-item [puzzle]="puzzle"
                                 (puzzleDeleted)="onPuzzleDeleted($event)">
                </app-puzzle-item>
            </div>
        </div>
    </div>
</div>
